:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --white-color: #fff;
  --dark-background: #2F303A;
  --preferences-background: #F5F5F5;
  --team-background: #F5F4FA;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logo-left {
  color: var(--accent-color);
}

.logo-right {
  color: #FFFFFF;
}

ul {
  list-style: none;
}

/* Site logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* Site nav */
.site-nav {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em
}

.site-nav.current {
  color: #f00;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--dark-background);
}

.button {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}

.section-preferences {
  background-color: var(--preferences-background);
}

.section-preferences.h1: {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-transform: uppercase;
}

.section-preferences.p: {

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Site footer */
.site-footer {
  background-color: var(--dark-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */